@model School.Financial.Models.EducationArea

@{
    ViewData["Title"] = "ยืนยันการลบพื้นที่การศึกษา";
}

<h1>ลบ</h1>

<h3>ยืนยันการลบ?</h3>
<div>
    <h4>พื้นที่การศึกษา</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="ลบ" class="btn btn-danger" /> |
        <a asp-action="Index">กลับ</a>
    </form>
</div>
