@model School.Financial.Models.EducationArea

@{
    ViewData["Title"] = "รายละเอียดพื้นที่การศึกษา";
}

<h1>รายละเอียด</h1>

<div>
    <h4>พื้นที่การศึกษา</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sao_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sao_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.sao_id">แก้ไข</a> |
    <a asp-action="Index">กลับ</a>
</div>
