@model IEnumerable<School.Financial.Models.EducationArea>

@{
    ViewData["Title"] = "พื้นที่การศึกษา";
}

<h1>พื้นที่การศึกษา</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> เพิ่มพื้นที่การศึกษา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.sao_type)</th>
            <th>@Html.DisplayNameFor(model => model.sao_name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.sao_type</td>
                <td>@item.sao_name</td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.sao_id" class="text-success"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Details" asp-route-id="@item.sao_id"><span class="glyphicon glyphicon-search"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.sao_id" class="text-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
