@model IEnumerable<School.Financial.Models.Budget>

@{
    ViewData["Title"] = "รายการงบประมาณ";
}

<h1>รายการประเภทงบประมาณ</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-usd"></span> เพิ่มประเภทงบประมาณ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td class="showdatetime">@item.CreatedDateString</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">แก้ไข</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">รายละเอียด</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">ลบ</a>
                </td>
            </tr>
        }
    </tbody>
</table>
