@model School.Financial.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueDateString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BudgetId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
