@model School.Financial.Models.Transaction

@{
    ViewData["Title"] = "รายละเอียดบันทึกรายการ";

    var budget = ViewBag.budget as Budget;
    var partner = ViewBag.partner as Partner;
}

<h1>รายละเอียด</h1>

<div>
    @if (Model.IsPayment)
    {
        <h4>บันทึกรายจ่าย</h4>
    }
    else
    {
        <h4>บันทึกรายรับ</h4>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>
        <dd class="col-sm-10">
            @budget.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class="col-sm-10 showdate">
            @Html.DisplayFor(model => model.IssueDateString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuplicatePaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuplicatePaymentString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountString)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        @if (Model.IsPayment)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PartnerId)
            </dt>
            <dd class="col-sm-10">
                @partner?.Name
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VatInclude)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VatIncludeString)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductType)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10 showdatetime">
            @Html.DisplayFor(model => model.CreatedDateString)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">แก้ไข</a> |
    <a asp-action="Index">กลับ</a>
</div>
