@model IEnumerable<School.Financial.Models.Transaction>

@{
    ViewData["Title"] = "TransactionReport";

    var budgets = ViewBag.budgets as IEnumerable<School.Financial.Models.Budget>;
    decimal remainCash = 0, remain = 0, remainDeposit = 0;
}

<h1>TransactionReport</h1>
<form>
    <input name="month" class="monthpicker" type="text" value="@ViewBag?.month?.ToString("yyyy-MM-dd hh:mm:ss")" />
    <select name="budgetId" asp-items="@(new SelectList(budgets, "Id", "Name", ViewBag.budgetId))">
        <option value="">เลือก ...</option>
    </select>
    <button type="submit">Ok</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>วัน เดือน ปี</th>
            <th>ที่เอกสาร</th>
            <th>รายการ</th>
            <th class="text-right">รับ</th>
            <th class="text-right">จ่าย</th>
            <th class="text-right">เงินสดคงเหลือ</th>
            <th class="text-right">เงินฝากธนาคารคงเหลือ</th>
            <th class="text-right">เงินฝากคงเหลือ<br />ส่วนราชการผู้เบิก</th>
            <th>หมายเหตุ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            remainCash += item.Cash;
            remain += item.Amount;
            remainDeposit += item.Deposit;
            <tr>
                <td class="showdate">@item.IssueDateString</td>
                <td>@item.PayEvidence</td>
                <td>@item.Title</td>
                @if (item.Amount >= 0)
                {
                    <td class="text-right">@item.AmountString</td>
                    <td></td>
                }
                else
                {
                    <td></td>
                    <td class="text-right">@item.AmountString</td>
                }
                <td class="text-right">@remainCash</td>
                <td class="text-right">@remain</td>
                <td class="text-right">@remainDeposit</td>
                <td class="text-right">@item.Remark</td>
            </tr>
        }
    </tbody>
</table>
